body{
  background:linear-gradient(45deg,rgb(41, 223, 156),rgb(23, 7, 95));
  display:flex;
  height:100vh;
  background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.block{
  background: rgb(69, 65, 65);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(94, 91, 91);
}
.btn{
  position:absolute;
  width:100px;
  height:100px;
  
}
.def{
  width:100px;
  height:100px;
  background:grey;
  margin-top:30%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
}
.L{
    margin-left: 100px;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
}
.start{
  margin-left: 20px;
}
.pos{
  background:rgb(5, 239, 165);
  border: 2px solid rgb(106, 183, 142);
}
.scored{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: white;
}
.hearts{
  left: 20px;
  right: auto;
}
